body, html {
    height:100%;
}

* {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  list-style:none;
  vertical-align:baseline;
  text-decoration:none;
}

body {
  font-family:'Open Sans', sans-serif;
  font-weight:400;
  font-size:13px;
  color:#404040;
  background-color:#f2f2f2;
}

.wrap {
  max-width:1140px;
  min-width:900px;
  margin:auto;
  padding:0 10px;
}

/*WIDTH*/

.col_10 {
  width:100%;
}

.col_3{
  width:30%;
}

/*POSITION*/

.floatright {
  float:right;
}

.floatleft {
  float:left;
}

.marginauto {
  margin:0 auto;
}

.header {
  height:60px;
  padding-top:15px;
  color: #FFF;
}

.header ul li{
  margin-right: 20px;
  margin-top: 15px;
}

#listyourspace{
  margin-top: 10px;
  padding: 5px;
  height: 20px;
  background-color: #FFD300;
  border-radius: 2px;
  color: white;
  font-weight: 600;
}

.carousel {
  height:280px;
  line-height: 280px;
  background-image: url('./img/Carousel3.png');
}

.carouseltitle {
  font-size: 35px;
  text-align: center;
  vertical-align: middle;
  color:white;
}

.form {
  background-color: #CCC;
  padding-top: 10px;
  padding-bottom: 20px;
}

.textcenter{
  text-align: center;
}

.centeralign{
  margin: 0 auto;
}

input {
  border:1px solid #e5e5e5;
  color:#404040;
  padding:12px 12px;
  margin-bottom: 10px;
  
  font-family:'Open Sans', sans-serif;
  font-size:14px;
  font-weight: 400;
  width: 100%;
  
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
  border: 1px solid black;

  border-radius:4px;
  line-height: 14px;

  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

  background-color:#fff;
}

.basebutton {
  background: #0B61A4;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  
  text-shadow: 1px 1px 1px #9E3F3F;
  
  cursor: pointer;

  margin-top: 10px;
  margin-bottom: 20px;

  display:block;
}

.basebutton:hover {
  background: #25567B
}
